.my-grid {
    display: grid;
    grid-template-columns: auto 6fr;
    grid-template-rows: auto 48px;
}

.has-blue-background {
    background-color: #62a3cc;
    border: 1px solid #a7105b
}

.has-yellow-background {
    background-color: #bdcf1c;
    border: 1px solid #E38C1E
}